@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html{
    scroll-behavior: smooth;
}
:root {
    --secondary-color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Scroll Watcher */
.scroll-watcher {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: linear-gradient( 329deg, #25a4c3,rgb(19, 231, 104));
    width: 100%;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-color);
    color: #333;
    width: auto;
    overflow-x: clip
}

/* Navigation Section */
.logo{
    display: flex;
}
.logo img{
    width: 90px;
    height: 80px;
}
header {
    background: linear-gradient(74deg, #4dab6e 52%, rgb(191, 228, 135) 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
header .title{
    font-size: 27px;
    font-weight: 800;
    word-wrap:break-word;
    width: 250px;
    margin-left: 15px;
}
header #start {
    border: 2px solid white;
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 7px;
    height: 55px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
#start:hover{
    background-color: white;
    color: green;
    box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.25);
    border: 2px solid green;
}
.menu-btn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border: none;
    cursor: pointer;
}
.dropdown-menu {
    position: relative;
    display: inline-block;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    z-index: 1; 
}

.navigation {
    background-color: White;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: -1px;
    z-index: 1;
}
.links,
.links-hidden {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 16px;
}
.links-hidden {
    display: block;
}
.links {
    font-size: 18px;
    display: inline-block;
}
.links-hidden:hover,
.links:hover {
    background-color: #4dab6e;
    color: white;
}
.dropdown-menu:hover .menu-content {
    display: block;
}
.dropdown-menu:hover .menu-btn {
    background-color: #4dab6e;
    color: white;
}

/* Hero Section */
.parallax {
    height: 85svh;
    display: flex;
    display: row;
    justify-content: center;
    align-items: center;
}
.parallax-image {
    /* border: 1px solid black; */
    width: 50svw;
    height: 80svh;
    background-image: url(Background_images/Committe_Members_List2.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: fade-out linear forwards;
    animation-timeline: view();
    animation-range: exit -200px;
}

/* Committee Member Section */
.container1{
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f3f7f8;
    box-shadow: 6px 7px 16px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.container2{
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f3f7f8;
    box-shadow: 6px 7px 16px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    scale: 1; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry -50px;
}
.container3{
    max-width: 1200px;
    margin: 40px auto 140px auto;
    padding: 20px;
    background-color: #f3f7f8;
    box-shadow: 6px 7px 16px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    scale: 1; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry -50px;
}
.container4{
    max-width: 1200px;
    margin: 40px auto 140px auto;
    padding: 20px;
    background-color: #f3f7f8;
    box-shadow: 6px 7px 16px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    scale: 1; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry -50px;
}
.container5{
    max-width: 1200px;
    margin: 40px auto 140px auto;
    padding: 20px;
    background-color: #f3f7f8;
    box-shadow: 6px 7px 16px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    scale: 1; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry -50px;
}
.container6{
    max-width: 1200px;
    margin: 40px auto 140px auto;
    padding: 20px;
    background-color: #f3f7f8;
    box-shadow: 6px 7px 16px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    scale: 1; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry -50px;
}
h1 {
    margin-bottom: 20px;
}
.committee-members {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

}
.committee-member {
    width: 350px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    background: linear-gradient(207deg, #4dab6e, rgb(191, 228, 135));
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.committee-member .img {
    width: 210px;
    height: 280px;
    border-radius: 400%;
    display: flex;
    justify-content: center;    
}
.committee-member .img img{
    width: 210px;
    height: 250px;
    border-radius: 400%;
    object-fit: cover;
}
.img1 img{
    object-position: 0 0px;
}
.img2 img{
    object-position: 0 10px;
}
.img3 img{
    object-position: 0 10px;
}
.committee-member h2 {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

/* Footer */
footer {
    background: linear-gradient(74deg, #4dab6e 52%, rgb(191, 228, 135) 100%);
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 99svw;
}
footer p{
    margin-top: 20px;
    font-size: small;
}
footer div{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
footer div p{
    font-size: 23px;
    position: relative;
    left: -468px;
}
.foot-links{
    background-color: #8dc08100;
    width: 100px;
    margin: 5px;
}
.foots{
    text-decoration: none;
    display: block;
    color: white;  
    margin: 9px;
}
.socials{
    background-color: #8dc08100;
    width: 100px;
}
.socnav{
    text-decoration: none;
    display: block;
    color: white;  
    margin: 9px;
}

/* Animations */
@keyframes scroll-watcher {
    from {
        scale: 0 1;
    }

    to {
        scale: 1 1;
    }
}
@keyframes fade-out{
    to{
        opacity: 0;
    }
}
@keyframes fade-in {
    to{scale: 1; opacity: 1;}
}
