@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html{
    scroll-behavior: smooth;
}
:root{
    --secondary-color:white;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Scroll Watcher */
.scroll-watcher{
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    /* background-image: linear-gradient( 329deg, rgb(89, 199, 229),blue); */
    background: linear-gradient( 329deg, #25a4c3,rgb(19, 231, 104));
    width: 100%;
    /* scale: 0 1; */
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    width: auto;
    overflow-x: clip;
}
.logo{
    display: flex;
}
.logo img{
    width: 90px;
    height: 90px;
}
header {
    background: linear-gradient(74deg, #4dab6e 52%, rgb(191, 228, 135) 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
header .title{
    font-size: 27px;
    font-weight: 800;
    word-wrap:break-word;
    width: 250px;
    margin-left: 15px;
}

header> #start {
    border: 2px solid white;
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    height: 55px;
    font-size: 17px;
    font-weight: bold;
}

#start:hover{
    background-color: white;
    color: green;
    box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.25);
    border: 2px solid green;
}

.menu-btn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 18px;
    /* font-weight: bolder; */
    font-family: 'Poppins', sans-serif;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
    /* cursor: pointer; */
}

.menu-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1; 
}

.navigation {
    background-color: White;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: -1px;
    z-index: 1;
}

.links,
.links-hidden {
    /* display: inline-block; */
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 16px;
    /* font-weight: bold; */
}

.links-hidden {
    display: block;
}

.links {
    font-size: 18px;
    display: inline-block;
}

.links-hidden:hover,
.links:hover {
    background-color:  #4dab6e;
    color: white;
}

.dropdown-menu:hover .menu-content {
    display: block;
}

.dropdown-menu:hover .menu-btn {
    background-color:  #4dab6e;
    color: white;
}

#upwards{
    border: 2px solid white;
    background-color: green;
    border-radius: 8px;
    position: fixed;
    right: 100px;
    bottom: 30px;
    width: 50px;
    height: 45px;
}
#upwards img{
    width:40px;
    height: 45px;
    filter: invert(100%);
} 

/* ____________________________________________________________________________________________-- */
.wrapper {
  max-width: 75%;
  margin: auto;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: 1.6rem;
}


.accordion:hover {
  background-color: #b3b6b5;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: #f1f7f5;
  display: none;
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.faq.active {
  border: none;
}

/* ------------------------------Search Box------------------------------ */
.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search input[type=text]{
    width: 50svw;
    height: 2rem;
    text-align: center;
    border: 1px solid #52CC7C;
    font-size: 20px;
}
.search button{
    background-color: #52CC7C;
    border: 1px solid white;
    height: 2rem;
}
.search button:hover{
    opacity: 0.7;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxx    Search Box   xxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* Footer */
footer {
    background: linear-gradient(74deg, #4dab6e 52%, rgb(191, 228, 135) 100%);
    color: white;
    height: 265px;
}
.foot{
    display: grid;
    grid-template-areas: "foot1 foot2 foot2";
}
.footer-content {
    grid-area: foot2;
    padding: 15px 0px 15px 0px;
    height: 190px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}
.left-section{
    grid-area: foot1;
    height: 190px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center; 
}
.left-section img{
    align-self: center;
    width: 100px;
    height: 100px;
}
.left-section .heading1{
    align-self: center;
    height: 100px;
    /* border: 1px solid black; */
    font-size: 35px;
    font-weight: 800;
    width: 280px;
    margin-left: 15px;
}
 a {
    text-decoration: none;
    color: #ffffff8a;
}
a:hover{
    color: #fff;
}
.useful-links h2, .facility-links h2{
    padding-bottom: 6px;
    margin-bottom:10px;
    border-bottom: 3px solid green;
} 
.useful-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 10px;
    font-style: normal;
    color: rgb(246, 249, 252);  
    gap: 14px;
}
.facility-links ul{
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: flex-start;
    gap: 14px 28px;

}
.address {
    /* border: 1px solid black; */
    align-self: flex-end;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 10px;
    font-style: normal;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
#adr{
    width: 480px;
    word-wrap: break-word;
}
.copbut{
    padding: 0px 25px;
    height: 70px;
    /* background-color: rgb(191, 228, 135); */
    display: grid;
    grid-template-areas: "footer";
}
.copbut>*{
    grid-area: footer;
}
.copbut .copyright{
    justify-self: flex-start;
    align-self: center;
}
.copbut p{
    font-size: 15px;
}
.buttons{
    justify-self: flex-end;
    align-self: flex-start;
    margin-right: 170px;
    display: flex;
    gap: 20px;
}
.buttons button{
    background-color: transparent;
    display: inline-flex;
	justify-content: center;
	align-items: center;
    width:  40px;
    border: none;
    border-radius: 5px;
    transition: transform 100ms ease-in-out;
}
.buttons button:hover{
    background-color: green;
    transform: scale(1.1);
}
.buttons button img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: contain;
}
button img:hover{
    filter: invert(100%);
}


/* Animations */
@keyframes scroll-watcher{
    from{scale: 0 1;}
    to {scale: 1 1; }
}

/* TextArea */
.textarea{
    display: flex;
    padding: 2rem 4rem 2rem 0;
    /* align-items: center; */
    justify-content: center;
}
textarea{
    width: 409px;
    height: 344px;
    position: relative;
    left: 1%;
}
#start {
    border: 2px solid white;
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    height: 55px;
    font-size: 17px;
    font-weight: bold;
}

#start:hover{
    background-color: white;
    color: green;
    box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.25);
    border: 2px solid green;
}

.sub-btn{
    position: relative;
    left: 50%;
    padding-bottom:30px;
}