@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --secondary-color: white;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Scroll Watcher */
.scroll-watcher {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    /* background-image: linear-gradient( 329deg, rgb(89, 199, 229),blue); */
    background: linear-gradient(329deg, #25a4c3, rgb(19, 231, 104));
    width: 100%;
    /* scale: 0 1; */
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    width: auto;
    overflow-x: clip;
}

/* Navigation Section */
.logo {
    display: flex;
}

.logo img {
    width: 90px;
    height: 90px;
}

header {
    background: linear-gradient(74deg, #4dab6e 52%, rgb(191, 228, 135) 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
header .title {
    font-size: 27px;
    font-weight: 800;
    word-wrap: break-word;
    width: 250px;
    margin-left: 15px;
}
header>#start {
    border: 2px solid white;
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 7px;
    height: 55px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
#start:hover {
    background-color: white;
    color: green;
    box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.25);
    border: 2px solid green;
}
.menu-btn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border: none;
    cursor: pointer;
}
.dropdown-menu {
    position: relative;
    display: inline-block;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    z-index: 1;
}
.navigation {
    background-color: White;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: -1px;
    z-index: 1;
}
.links,
.links-hidden {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 16px;
}
.links-hidden {
    display: block;
}
.links {
    font-size: 18px;
    display: inline-block;
}
.links-hidden:hover,
.links:hover {
    background-color: #4dab6e;
    color: white;
}
.dropdown-menu:hover .menu-content {
    display: block;
}
.dropdown-menu:hover .menu-btn {
    background-color: #4dab6e;
    color: white;
}

/* Flat Info Description */
main {
    /* border: 1px solid black; */
    width: 99svw;
    height: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 38px 0px 55px 0px;
}
.features{
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
}
.container {
    grid-column: 1;
    grid-row: 1;
    border: 1px solid #4dab6e52;
    max-width: 90rem;
    min-height: 340px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 24px;
}
.container:hover{
    box-shadow: 1px 2px 19px 0px rgba(0, 0, 0, 0.3);
}
/* Image and Caption */
.container .img {
    /* border: 1px solid black; */
    width: 600px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.img .photo {
    border: 1px solid black;
    width: 550px;
    height: 300px;
    border-radius: 30px;
}

.img .photo img {
    width: 550px;
    height: 300px;
    border-radius: 30px;
    object-fit: contain;
}

/* SideInfo Section for displaying the information of the flat */
.container .sideinfo {
    width: 100%;
    /* border: 1px solid black; */
    height: 340px;
    display: grid;
    gap: 10px;
    grid-template-areas: "head head button"
        "info info button"
        "content content button"
        "map map button";
}

.sideinfo .heading {
    /* border: 1px solid black; */
    grid-area: head;
}

/* Buttons section within the Sideinfo section for displaying the price and contact info of the owner */
.sideinfo .buttons {
    /* border: 1px solid black; */
    background-color: #4dab6e63;
    grid-area: button;
    width: 200px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.sideinfo .buttons .price {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    gap: 3px;
}
.price .prices{
    height: 20px;
    background-color: transparent;
    border: none;
    align-self: center;
}

.price .prices img {
    height: 20px;
    width: 20px;
}

.sideinfo .buttons .charges {
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.sideinfo .buttons .charges:hover {
    text-decoration: none;
}

.sideinfo .buttons .contact {
    border-radius: 50px;
    border: 1px solid #4dab6e;
    background-color: #4dab6e;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: 0px 10px;
    padding: 12px 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.sideinfo .buttons .contact:active {
    transform: scale(0.95);
}

.sideinfo .buttons .contact:focus {
    outline: none;
}

.sideinfo .buttons .status {
    background-color: white;
    border: 1px solid #4dab6e;
    border-radius: 50px;
    color: #4dab6e;
    font-size: 12px;
    font-weight: bold;
    margin: 0px 10px;
    padding: 12px 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.sideinfo .buttons .status:active {
    transform: scale(0.95);
}

.sideinfo .buttons .status:focus {
    outline: none;
}

/* Info section for detail description */
.sideinfo .info {
    /* height: 50px; */
    /* border: 1px solid black; */
    grid-area: info;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 20px 30px;
}
.sideinfo .info .infos {
    width: 190px;
    display: flex;
    /* border: 1px solid black; */
    gap: 9px;
}
.sideinfo .info .infos img{
    align-self: center;
    width: 30px;
    height: 30px;
}
.sideinfo .info .bor {
    border-right: 1px solid rgba(0, 0, 0, 0.175);
}

/* Content section to describe the flat */
.sideinfo .content {
    /* border: 1px solid black; */
    height: 70px;
    grid-area: content;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sideinfo .map {
    /* border: 1px solid black; */
    grid-area: map;
    display: flex;
    gap: 4px;
    justify-content: center;
}

.map .maps {
    font-size: 17px;
    border: none;
    background-color: transparent;
    color: #4dab6e;
    text-decoration: underline;
}

.map img {
    width: 20px;
    height: 20px;
    align-self: center;
}

.map .maps:hover {
    text-decoration: none;
}
/* Popup box */
.popup{
    /* z-index: 2; */
    background-color: #4dab6e;
    color: white;
    padding: 0px 20px 20px 10px;
    width: 500px;
    height: 352px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 2px 19px 0px rgba(0, 0, 0, 0.3);
    filter: opacity();
}  
.pop1, .pop2{
    /* border: 1px solid black; */
    margin: 0px 0px 25px 0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 7px;
}
#close{
    width: 20px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
}
#cont1{
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    display: none;
}
.rent{
    height: 40px;
    /* padding: 0px 9px; */
    display: flex;
    justify-content: space-between;
}
.rent p,h1{
    align-self: center;
}
.rent1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.113);
}
.firstmonth{
    /* border: 1px solid black; */
    height: 40px;
    /* padding: 0px 9px; */
    display: flex;
    justify-content: space-between;
}
.firstmonth h4, h3 , p{
    align-self: center;
}
.month{
    border-bottom: 1px solid rgba(0, 0, 0, 0.113);
}


/* Contact Popup */
.modal{
    position: fixed;
    top: 150px;
    left: 600px;
    padding: 1em;
    width: 40ch;
    box-shadow: 1px 2px 19px 0px rgba(0, 0, 0, 0.3);
    border: 0;
}
.modal::backdrop{
    background-color: rgb(0 0 0/ 0.4)
}
.modal div{
    display: flex;
    justify-content: flex-end;
}
.close{
    width: 30px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
}
form {
    /* border: 1px solid black; */
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    gap: 20px;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}
form .h1{
    border: 1px solid #4dab6e;
    background-color: #4dab6e28;
    border-radius: 20px;
    width: 350px;
    padding: 10px;
}
form h1{
    font-weight: 120;
    font-size: 25px;
    text-wrap: pretty;
}
input{
	background-color: transparent;
    border: none;
	border-bottom:1px solid #85848457;
	padding: 15px 15px;
	margin: 8px 0 10px 0px;
	width: 100%;
}
.submitcon{
    width: 100%;
	border-radius: 20px;
	border: 1px solid #4dab6e;
	background-color: #4dab6e;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin: 10px 0px;
}

.submitcon:active {
	transform: scale(0.95);
}

.submitcon:focus {
	outline: none;
}


/* Footer */
footer {
    background: linear-gradient(74deg, #4dab6e 52%, rgb(191, 228, 135) 100%);
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 99svw;
}

footer p {
    margin-top: 20px;
    font-size: small;
}

footer div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

footer div p {
    font-size: 23px;
    position: relative;
    left: -468px;
}

.foot-links {
    background-color: #8dc08100;
    width: 100px;
    margin: 5px;
}

.foots {
    text-decoration: none;
    display: block;
    color: white;
    margin: 9px;
}

.socials {
    background-color: #8dc08100;
    width: 100px;
}

.socnav {
    text-decoration: none;
    display: block;
    color: white;
    margin: 9px;
}

/* Animations */
@keyframes scroll-watcher {
    from {
        scale: 0 1;
    }

    to {
        scale: 1 1;
    }
}

@keyframes fade-in {
    to {
        scale: 1;
        opacity: 1;
    }
}