@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html {
    scroll-behavior: smooth;
}
:root {
    --secondary-color: white;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Scroll Watcher */
.scroll-watcher {
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    /* background-image: linear-gradient( 329deg, rgb(89, 199, 229),blue); */
    background: linear-gradient(329deg, #25a4c3, rgb(19, 231, 104));
    width: 100%;
    /* scale: 0 1; */
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    width: auto;
    overflow-x: clip;
}

/* Navigation Section */
.logo {
    display: flex;
}

.logo img {
    width: 90px;
    height: 90px;
}

header {
    background: linear-gradient(74deg, #4dab6e 52%, rgb(191, 228, 135) 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
header .title {
    font-size: 27px;
    font-weight: 800;
    word-wrap: break-word;
    width: 250px;
    margin-left: 15px;
}
header>#start {
    border: 2px solid white;
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 7px;
    height: 55px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}
#start:hover {
    background-color: white;
    color: green;
    box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.25);
    border: 2px solid green;
}
.menu-btn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border: none;
    cursor: pointer;
}
.dropdown-menu {
    position: relative;
    display: inline-block;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    z-index: 1;
}
.navigation {
    background-color: White;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: -1px;
    z-index: 1;
}
.links,
.links-hidden {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 16px;
}
.links-hidden {
    display: block;
}
.links {
    font-size: 18px;
    display: inline-block;
}
.active{
    background-color: #4dab6e;
    color: white;
}
.links-hidden:hover,
.links:hover {
    background-color: #4dab6e;
    color: white;
}
.dropdown-menu:hover .menu-content {
    display: block;
}
.dropdown-menu:hover .menu-btn {
    background-color: #4dab6e;
    color: white;
}

#upwards{
    border: 2px solid white;
    background-color: green;
    border-radius: 8px;
    position: fixed;
    right: 100px;
    bottom: 30px;
    width: 50px;
    height: 45px;
}
#upwards img{
    width:40px;
    height: 45px;
    filter: invert(100%);
}
/* Flat Info Description */
main {
    border: 1px solid black;
    width: 99svw;
    height: 150svh;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    align-items: center;
    gap: 50px;
    margin: 38px 0px 55px 0px;
}
.features{
    width: 89svw;
    height: 46svh;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(5, 304px);
    grid-template-rows: repeat(4, 95px);
}
.container {
    grid-column: 1/span 6;
    grid-row: 1/span 4;
    border: 1px solid #4dab6e52;
    max-width: 100rem;
    max-height: 540px;
    padding: 15px;
    border-radius: 10px;
    display: grid;
    grid-template-areas: "img details details"
                         "map map map";
    
    gap: 24px;
}
.container:hover{
    box-shadow: 1px 2px 19px 0px rgba(0, 0, 0, 0.3);
}
/* Image and Caption */
.container .img {
    /* border: 1px solid black; */
    grid-area:img;
    width: 570px;
    height: 305px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.slider-wrapper{
    /* border: 1px solid black; */
    position: relative;
    max-width: 570px;
    max-height: 320px;
}
.slider{
    /* border: 1px solid black; */
    display: flex;
    aspect-ratio: 15/8;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 1rem;
}
.slider img{
    flex: 1 0 100%;
    object-fit: cover;
    scroll-snap-align: start;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}

/* SideInfo Section for displaying the information of the flat */
.container .sideinfo {
    grid-area: details;
    width: 100%;
    /* border: 1px solid black; */
    height: 340px;
    display: grid;
    gap: 10px;
    grid-template-areas: "head head button"
        "info info button"
        "content content button"
}

.sideinfo .heading {
    /* border: 1px solid black; */
    grid-area: head;
}

/* Buttons section within the Sideinfo section for displaying the price and contact info of the owner */
.sideinfo .buttons {
    /* border: 1px solid black; */
    background-color: #4dab6e63;
    grid-area: button;
    width: 200px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.sideinfo .buttons .price {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    gap: 3px;
}
.price .prices{
    height: 20px;
    background-color: transparent;
    border: none;
    align-self: center;
}

.price .prices img {
    height: 20px;
    width: 20px;
}

.sideinfo .buttons .charges {
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.sideinfo .buttons .charges:hover {
    text-decoration: none;
}

.sideinfo .buttons .contact {
    border-radius: 50px;
    border: 1px solid #4dab6e;
    background-color: #4dab6e;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: 0px 10px;
    padding: 12px 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.sideinfo .buttons .contact:active {
    transform: scale(0.95);
}

.sideinfo .buttons .contact:focus {
    outline: none;
}

.sideinfo .buttons .status {
    background-color: white;
    border: 1px solid #4dab6e;
    border-radius: 50px;
    color: #4dab6e;
    font-size: 12px;
    font-weight: bold;
    margin: 0px 10px;
    padding: 12px 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.sideinfo .buttons .status:active {
    transform: scale(0.95);
}

.sideinfo .buttons .status:focus {
    outline: none;
}

/* Info section for detail description */
.sideinfo .info {
    /* height: 50px; */
    /* border: 1px solid black; */
    grid-area: info;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 30px;
}
.sideinfo .info .infos {
    width: 190px;
    display: flex;
    /* border: 1px solid black; */
    gap: 9px;
}
.sideinfo .info .infos img{
    align-self: center;
    width: 30px;
    height: 30px;
}
.sideinfo .info .bor {
    border-right: 1px solid rgba(0, 0, 0, 0.175);
}

/* Content section to describe the flat */
.sideinfo .content {
    display: flex;
    justify-content: flex-start;
    max-height: 150px;
    grid-area: content;
}
.content p{
    width: 600px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    appearance: none;   
}
/* Popup box */
.popup{
    background-color: #4dab6e;
    color: white;
    padding: 0px 20px 20px 10px;
    width: 500px;
    height: 352px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 2px 19px 0px rgba(0, 0, 0, 0.3);
    filter: opacity();
}  
.pop1, .pop2{
    /* border: 1px solid black; */
    margin: 0px 0px 25px 0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 7px;
}
#close{
    width: 20px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
}
#cont1{
    grid-column: 4/5;
    grid-row: 2/3;
    justify-self: center;
    display: none;
}
.rent{
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.rent p,h1{
    align-self: center;
}
.rent1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.113);
}
.firstmonth{
    /* border: 1px solid black; */
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.firstmonth h4, .firstmonth h3 , .firstmonth p{
    align-self: center;
}
.month{
    border-bottom: 1px solid rgba(0, 0, 0, 0.113);
}

/* Contact Popup */
.modal{
    position: fixed;
    top: 150px;
    left: 600px;
    padding: 1em;
    max-width: 400px;
    box-shadow: 1px 2px 19px 0px rgba(0, 0, 0, 0.3);
    border: 0;
}
.modal::backdrop{
    background-color: rgb(0 0 0/ 0.4)
}
.modal div{
    display: flex;
    justify-content: flex-end;
}
.close{
    width: 30px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
}
form {
    /* border: 1px solid black; */
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    gap: 20px;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}
form .h1{
    border: 1px solid #4dab6e;
    background-color: #4dab6e28;
    border-radius: 20px;
    width: 350px;
    padding: 10px;
}
form h1{
    font-weight: 120;
    font-size: 25px;
    text-wrap: pretty;
}
input{
	background-color: transparent;
    border: none;
	border-bottom:1px solid #85848457;
	padding: 15px 15px;
	margin: 8px 0 10px 0px;
	width: 100%;
}
.submitcon{
    width: 100%;
	border-radius: 20px;
	border: 1px solid #4dab6e;
	background-color: #4dab6e;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin: 10px 0px;
}

.submitcon:active {
	transform: scale(0.95);
}

.submitcon:focus {
	outline: none;
}


/* Footer */
footer {
    background: linear-gradient(74deg, #4dab6e 52%, rgb(191, 228, 135) 100%);
    color: white;
    height: 265px;
}
.foot{
    display: grid;
    grid-template-areas: "foot1 foot2 foot2";
}
.footer-content {
    grid-area: foot2;
    padding: 15px 0px 15px 0px;
    height: 160px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}
.left-section{
    grid-area: foot1;
    height: 190px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center; 
}
.left-section img{
    align-self: center;
    width: 100px;
    height: 100px;
}
.left-section .heading1{
    align-self: center;
    height: 100px;
    /* border: 1px solid black; */
    font-size: 35px;
    font-weight: 800;
    width: 280px;
    margin-left: 15px;
}
 a {
    text-decoration: none;
    color: #ffffff8a;
}
a:hover{
    color: #fff;
}
.useful-links h2, .facility-links h2{
    padding-bottom: 6px;
    margin-bottom:10px;
    border-bottom: 3px solid green;
} 
.useful-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 10px;
    font-style: normal;
    color: rgb(246, 249, 252);  
    gap: 14px;
}
.facility-links ul{
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: flex-start;
    gap: 14px 28px;

}
.address {
    /* border: 1px solid black; */
    align-self: flex-end;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 10px;
    font-style: normal;
}
.information{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
#adr{
    width: 480px;
    word-wrap: break-word;
}
.copbut{
    padding: 0px 25px;
    height: 70px;
    /* background-color: rgb(191, 228, 135); */
    display: grid;
    grid-template-areas: "footer";
}
.copbut>*{
    grid-area: footer;
}
.copbut .copyright{
    justify-self: flex-start;
    align-self: center;
}
.copbut p{
    font-size: 15px;
}
.foot-buttons{
    justify-self: flex-end;
    align-self: flex-start;
    margin-right: 170px;
    display: flex;
    gap: 20px;
}
.foot-buttons button{
    background-color: transparent;
    display: inline-flex;
	justify-content: center;
	align-items: center;
    width:  40px;
    border: none;
    border-radius: 5px;
    transition: transform 100ms ease-in-out;
}
.foot-buttons button:hover{
    background-color: green;
    transform: scale(1.1);
}
.foot-buttons button img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.foot-buttons img:hover{
    filter: invert(100%);
}
/* Animations */
@keyframes scroll-watcher {
    from {
        scale: 0 1;
    }

    to {
        scale: 1 1;
    }
}

@keyframes fade-in {
    to {
        scale: 1;
        opacity: 1;
    }
}