*{
    margin: 0;padding: 0;
}
footer {
    background: linear-gradient(74deg, #4dab6e 52%, rgb(191, 228, 135) 100%);
    color: white;
    height: 255px;
    padding: 0px 15px;
}

.footer-content {
    padding: 15px 0px;
    height: 160px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.left-section{
    align-self: center;
    height: 90px;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
}
.left-section img{
    align-self: center;
    width: 90px;
    height: 90px;
}
.left-section .heading1{
    height: 90px;
    border: 1px solid black;
    align-self: flex-start ;
    font-size: 30px;
    font-weight: 800;
    word-wrap: break-word;
    width: 250px;
    margin-left: 15px;
}

 a {
    text-decoration: none;
    color: #fff;
}
.useful-links h2, .facility-links h2{
    padding-bottom: 6px;
    margin-bottom:10px;
    border-bottom: 4px solid green;
} 
.useful-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 10px;
    font-style: normal;
    color: rgb(246, 249, 252);  
    gap: 18px;
}

.facility-links ul{
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: flex-start;
    gap: 18px 28px;

}

.address {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 10px;
    font-style: normal;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.copbut{
    display: grid;
    grid-template-rows: repeat(1,1fr);
}
.copbut p{
    display: inline-block;
    text-align: center;
    font-size: medium;
}
.buttons{
    grid-row: 1;
    margin-right: 170px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.buttons button{
    background-color: transparent;
    display: inline-flex;
	justify-content: center;
	align-items: center;
    width:  40px;
    height: 40px;
    border: none;
    /* border: 1px solid red; */
    border-radius: 5px;
}
.buttons button:hover{

    background-color: green;
    transform: scale(1.1);
}
.buttons button img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: contain;
}
button img:hover{
    filter: invert(100%);
    /* transform: scale(1.1); */
}