@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
html{
    scroll-behavior: smooth;
}
:root{
    --secondary-color:white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Scroll Watcher */
.scroll-watcher{
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 2000;
    background: linear-gradient( 329deg, #25a4c3,rgb(19, 231, 104));
    /* background-color: linear-gradient( rgb(89, 199, 229),blue); */
    width: 100%;
    /* scale: 0 1; */
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    width: 99dvw;
    overflow-x: clip;
}

/* Navigation Section */
.logo{
    display: flex;
}
.logo img{
    width: 90px;
    height: 90px;
}
header {
    background: linear-gradient(74deg, #4dab6e 52%, rgb(191, 228, 135) 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
	z-index: 100;
}
header .title{
    font-size: 27px;
    font-weight: 800;
    word-wrap:break-word;
    width: 250px;
    margin-left: 15px;
}
header>#start {
    border: 2px solid white;
    padding: 10px;
    background-color: green;
    color: white;
    height: 55px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
    /* transition: all 0.4s; */
    font-family: 'Poppins', sans-serif;
}
#start:hover {
    background-color: white;
    color: green;
    box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.25);
    border: 2px solid green;
    
}
.menu-btn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border: none;
    cursor: pointer;
}
.dropdown-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
}
.navigation {
    background-color: White;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: -1px;
    z-index: 1000;
}
.links,
.links-hidden {
    display: inline-block;
    color:black;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 16px;
}
.links-hidden {
    display: block;
}
.links {
    font-size: 18px;
    display: inline-block;
}
.links-hidden:hover,
.links:hover {
    background-color: #4dab6e;
    color: white;
}
.dropdown-menu:hover .menu-content {
    display: block;
}
.dropdown-menu:hover .menu-btn {
    background-color: #4dab6e;
    color: white;
}


#upwards{
    border: 2px solid white;
    background-color: green;
    border-radius: 8px;
    position: fixed;
    right: 100px;
    bottom: 30px;
    width: 50px;
    height: 45px;
}
#upwards img{
    width:40px;
    height: 45px;
    filter: invert(100%);
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    width: auto;
    overflow-x: clip;
}

/* Navigation Section */
.logo{
    display: flex;
}
.logo img{
    width: 90px;
    height: 90px;
}
header {
    background: linear-gradient(74deg, #4dab6e 52%, rgb(191, 228, 135) 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
header .title{
    font-size: 27px;
    font-weight: 800;
    word-wrap:break-word;
    width: 250px;
    margin-left: 15px;
}
header> #start {
    border: 2px solid white;
    padding: 10px;
    background-color: green;
    height: 55px;
    font-size: 17px;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    cursor: pointer;
}
#start:hover{
    background-color: white;
    color: green;
    box-shadow: 5px 8px 10px 2px rgba(0, 0, 0, 0.25);
    border: 2px solid green;
}
.menu-btn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border: none;
    cursor: pointer;
}
.dropdown-menu {
    position: relative;
    display: inline-block;
}
.menu-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    z-index: 1; 
}
.navigation {
    background-color: White;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: -1px;
    z-index: 1;
}
.links,
.links-hidden {
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 16px;
}
.links-hidden {
    display: block;
}
.links {
    font-size: 18px;
    display: inline-block;
}
.active{
    background-color: #4dab6e;
    color: white;
}
.links-hidden:hover,
.links:hover {
    background-color:  #4dab6e;
    color: white;
}
.dropdown-menu:hover .menu-content {
    display: block;
}
.dropdown-menu:hover .menu-btn {
    background-color:  #4dab6e;
    color: white;
}                                        
.mainh {
    color: #fff;           
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 50px;
}

.payment-box  {          
    /* background: linear-gradient(34deg, #18aed3, rgb(15, 197, 88)); */
    animation: colorChange 2s linear infinite alternate;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    height: 550px;
    width: 1000px;
    box-shadow: 0 7px 9px rgba(7, 0, 0, 0.6);
}
@keyframes colorChange {
    0% {
        background: rgb(6, 238, 199);
    }
    
    100% {
        background: rgb(23, 235, 41);
}
}
.payment-credentials {
    height: 509px;
    flex: 1;
    background-color: #baf8d3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.bank-details {
    height: 509px;
    flex: 1;
    background-color: #4dab6e;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.payment-box h2 {
    margin-bottom: 20px;
}

.input-row input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-row input[type="number"],
.input-row input[type="text"] {
    width: calc(100% - 12px); 
}

.input-row input[type="text"] {
    width: calc(100% - 16px); 
}


.my-button[type="submit"] {
    background-color: #4dab6e;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.my-button:hover{

    background-color: green;
}
.bank-details p {
    margin: 5px 0;
}

.uploader {
    position: relative;
    width: 200px;
    margin: 50px auto;
}

.upload-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#upload {
    display: none;
}

#preview {
    display: none;
    max-width: 100%;
    margin-top: 20px;
}



footer {
    background: linear-gradient(74deg, #4dab6e 52%, rgb(191, 228, 135) 100%);
    color: white;
    height: 265px;
}
.foot{
    display: grid;
    grid-template-areas: "foot1 foot2 foot2";
}
.footer-content {
    grid-area: foot2;
    padding: 15px 0px 15px 0px;
    height: 190px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}
.left-section{
    grid-area: foot1;
    height: 190px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center; 
}
.left-section img{
    align-self: center;
    width: 100px;
    height: 100px;
}
.left-section .heading1{
    align-self: center;
    height: 100px;
    /* border: 1px solid black; */
    font-size: 35px;
    font-weight: 800;
    width: 280px;
    margin-left: 15px;
}
 a {
    text-decoration: none;
    color: #ffffff8a;
}
a:hover{
    color: #fff;
}
.useful-links h2, .facility-links h2{
    padding-bottom: 6px;
    margin-bottom:10px;
    border-bottom: 3px solid green;
} 
.useful-links ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 10px;
    font-style: normal;
    color: rgb(246, 249, 252);  
    gap: 14px;
}
.facility-links ul{
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: flex-start;
    gap: 14px 28px;

}
.address {
    /* border: 1px solid black; */
    align-self: flex-end;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 10px;
    font-style: normal;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
#adr{
    width: 480px;
    word-wrap: break-word;
}
.copbut{
    padding: 0px 25px;
    height: 70px;
    /* background-color: rgb(191, 228, 135); */
    display: grid;
    grid-template-areas: "footer";
}
.copbut>*{
    grid-area: footer;
}
.copbut .copyright{
    justify-self: flex-start;
    align-self: center;
}
.copbut p{
    font-size: 15px;
}
.buttons{
    justify-self: flex-end;
    align-self: flex-start;
    margin-right: 170px;
    display: flex;
    gap: 20px;
}
.buttons button{
    background-color: transparent;
    display: inline-flex;
	justify-content: center;
	align-items: center;
    width:  40px;
    border: none;
    border-radius: 5px;
    transition: transform 100ms ease-in-out;
}
.buttons button:hover{
    background-color: green;
    transform: scale(1.1);
}
.buttons button img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: contain;
}
button img:hover{
    filter: invert(100%);
}

/* Animations */
@keyframes scroll-watcher{
    from{scale: 0 1;}
    to {scale: 1 1; }
}

@keyframes show {

	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}
