.container{
    display: flex;
    justify-content: center;
}

.popup{
    padding: 20px;
    width: 500px;
    height: 330px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    box-shadow: 1px 2px 19px 0px rgba(0, 0, 0, 0.3);
}
/* .pop1{
    border: 1px solid black;
} */
.rent{
    height: 45px;
    /* padding: 0px 9px; */
    display: flex;
    justify-content: space-between;
}
.rent p,h1{
    align-self: center;
}
.rent1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.113);
}
/* .pop2{
    border: 1px solid black;
} */
.firstmonth{
    /* border: 1px solid black; */
    height: 25px;
    /* padding: 0px 9px; */
    display: flex;
    justify-content: space-between;
}
.firstmonth h4, h3 , p{
    align-self: center;
}