.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.pop1, .pop2{
    /* border: 1px solid black; */
    display:flex;
    flex-direction: column;
    gap: 7px;
}
#cont1{
    /* border: 1px solid black; */
    display: none;
   
}
.popup{
    padding: 20px;
    width: 500px;
    height: 410px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 30px;
    box-shadow: 1px 2px 19px 0px rgba(0, 0, 0, 0.3);
}
.rent{
    height: 40px;
    /* padding: 0px 9px; */
    display: flex;
    justify-content: space-between;
}
.rent p,h1{
    align-self: center;
}
.rent1{
    border-bottom: 1px solid rgba(0, 0, 0, 0.113);
}
.firstmonth{
    /* border: 1px solid black; */
    height: 40px;
    /* padding: 0px 9px; */
    display: flex;
    justify-content: space-between;
}
.firstmonth h4, h3 , p{
    align-self: center;
}
.month{
    border-bottom: 1px solid rgba(0, 0, 0, 0.113);
}