body{
    height: 1000vh;
}
.modal{
    padding: 1em;
    width: 50ch;
    box-shadow: 1px 2px 19px 0px rgba(0, 0, 0, 0.3);
    border: 0;
}
.modal::backdrop{
    background-color: rgb(0 0 0/ 0.4)
}
.modal div{
    display: flex;
    justify-content: flex-end;
}
.modal div .close{
    width: 30px;
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
}
form {
    /* border: 1px solid black; */
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    gap: 20px;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}
form .h1{
    border: 1px solid #4dab6e;
    background-color: #4dab6e28;
    border-radius: 20px;
    width: 350px;
    padding: 10px;
}
form h1{
    font-weight: 120;
    font-size: 25px;
    text-wrap: pretty;
}
input{
	background-color: transparent;
    border: none;
	border-bottom:1px solid #85848457;
	padding: 15px 15px;
	margin: 8px 0 10px 0px;
	width: 100%;
}
.submitcon{
    width: 100%;
	border-radius: 20px;
	border: 1px solid #4dab6e;
	background-color: #4dab6e;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	margin: 10px 0px;
}

.submitcon:active {
	transform: scale(0.95);
}

.submitcon:focus {
	outline: none;
}
