#toast {
    position: fixed;
    top: 0%;
    min-width: 200px;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 10px;
    transition: all 0.5s;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}