*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
}
nav{
    height: 120svh;
    width: 15svw;
    background-color: lightgreen    ;
}
h1{
    margin: 30px 0px 0px 40px;
}
.container{
    width: 85svw;
    height: 120svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dash{
    border: 1px solid black;
    height: 70svh;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.dash .box{
    border: 1px solid black;
    width: 400px;
    height: 200px;
}
.table{
    height: 60svh;
    display: flex;
    justify-content: center;
    align-items: center;
}
table, th,td{
    border-collapse: collapse;
    border: 1px solid rgba(105, 101, 101, 0.403);
    padding: 5px;
}
tr td input[type=text]{
    border: none;
}
button{
    border: none;
    height: 30px;
    width: 30px;
}
button img{
    height: 25px;
    width: 25px;
}
button:hover{
    transform: scale(1.1);
}
/* .stats{
    display: flex;
    justify-content: center;
} */
.status{
    border-radius: 10px;
    width: 50px;
    padding: 2px;
    background-color: rgba(185, 240, 196, 0.671);
    color: green;
}