*{
    margin: 0;
    padding: 0;
}
.heading{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10svh;
    background-color: rgb(191, 228, 135);
}
.heading h1{
    font-size: 40px;
}
.table{
    padding-top: 30px;
    /* border: 1px solid black; */
    min-height: 85svh;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    background-color: rgb(139, 217, 156);
}
table{
    width: 70svw;
}
table tr:nth-child(even){
    background-color: #d8d8d8;
}
table tr:nth-child(odd){
    background-color: white;
}
table, th,td{
    border-collapse: collapse;
    border: 1px solid rgba(209, 209, 209, 0.403);
    padding: 5px;
}
td{
    text-align: center;
}
#preview {
    position: relative;
    top: 30px;
    left: -200px;
    width: 295px;
    height: 200px;
    border: 1px solid black;
    display: none;
    border-radius: 3px;
    margin-bottom: 30px; 
}
button{
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
}
.operation button img{
    height: 25px;
    width: 25px;
    background-color: transparent;
}
td button:hover{
    transform: scale(1.1);
}
.stats input{
    border: none;
    width: 100px;
}
.status{
    border-radius: 10px;
    width: 50px;
    padding: 2px;
    background-color: rgba(185, 240, 196, 0.671);
    color: green;
}
/* .operation{
    display: flex;
    justify-content: center;
} */
.payment{
    padding: 10px 15px;
    display: flex;
    justify-content: center;
}
.payment a img{
    height: 25px;
    width: 25px;
    background-color: transparent;
}