*{
    margin: 0;
    padding: 0;
}
main{
    background: linear-gradient(74deg, #4dab6e 52%, rgb(191, 228, 135) 100%);
    border: 1px solid black;
    min-height: 120svh;
}
.container {
    padding: 22px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.box button{
    margin: 90px 0px 0px 0px ;
    background-color: transparent;
    border: none;
    width: 300px;
    height: 300px;
}
.box button img{
    width: 200px;
    height: 200px;
}
.box {
    /* margin: 20px; */
    padding: 40px;
    /* border: 2px solid #0a0909; */
    background-color: #fdf7f7;
    border-radius: 5px;
    width: 300px;
    min-height: 400px;
    display: inline-block;
    border-radius: 13px;

}
input[type="file"] {
    margin: 30px 0px 10px 0px;
}

input[type="text"]{
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 42px;
}
input[type="date"]{
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
}
textarea {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 100px;
    resize: none;
    margin-top:10px ;
}
.preview {
    width: 295px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: -30px; 
    margin-top:10px ;
}
.button{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    min-height: 50px;
    padding: 10px
}
#submitBtn {
    height: 40px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border:1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top:10px ;
}

#submitBtn:hover {
    background-color: #45a049;
}
.preview {
    width: 295px;
    height: 180px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 3px;
    margin-bottom: 10px; 
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h1{
    margin: 20px 0px;
    text-align: center;
    font-size: 40px;
}

.viewImage{

    padding: 7px 14px;
    border-radius: 5px ;
    width: 100px;
    background-color: rgb(91, 255, 91);
    cursor: pointer;
    text-align: center;

}